.modal{
    position: absolute;
    border-radius: 20px;
    width: max-content;
    height: max-content;
    background-color: red;
    padding: 5px;
    border: 2px black solid;
}
.form{
    display: flex;
    flex-direction: column;
}
.formDiv{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px 20px;
}
.xButton{
    border-radius: 20px;
}
.submitButton{
    border-radius: 20px;
}